@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../fonts/DIN-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html, body {
  font-family: "DIN", Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  line-height: 1.35;
  color: #3f5966;
}

.logo {
  background-image: url("../img/whc_logo.png");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  max-width: 630px;
  height: 56px;
}

.header {
  background-color: #4f90b8;
  color: white;
  padding: 2rem 0;
  border-bottom: 0.2em solid #fff;
  box-shadow: 4px 1px 6px 3px #c5c5c5;
  font-weight: 600;
  margin-bottom: 2rem;
}
.header .header--well {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  align-items: center;
}
.header .header--well nav {
  text-align: right;
}
.header .header--well nav ul {
  margin: 0;
  padding: 0;
}
.header .header--well nav ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.header .header--well nav ul li:after {
  content: "|";
  margin-left: 1rem;
  position: relative;
}
.header .header--well nav ul li:first-child {
  margin-left: 0;
}
.header .header--well nav ul li:last-child {
  margin-right: 0;
}
.header .header--well nav ul li:last-child:after {
  content: "";
  margin: unset;
}
.header .header--well nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.header .header--well nav ul li a:hover {
  color: #fdbd06;
}
.header .search-block-form {
  text-align: right;
  margin-bottom: 1rem;
}
.header .search-block-form input {
  background-color: #edf4f7;
  padding: 0.5rem;
  color: #4f90b8;
  border: hidden;
  border-radius: 3px;
  width: 200px;
  font-size: 1rem;
}
.header .search-block-form #edit-submit {
  display: none;
}

.breadcrumbs {
  max-width: 1250px;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.footer {
  max-width: 1100px;
  margin: auto;
  border-top: 0.2em solid gray;
  margin-top: 2rem;
}
.footer nav {
  color: #ccc;
  text-align: center;
  margin-top: 1rem;
}
.footer nav ul {
  margin: 0;
  padding: 0;
}
.footer nav ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.footer nav ul li:after {
  content: "|";
  margin-left: 1rem;
  position: relative;
}
.footer nav ul li:first-child {
  margin-left: 0;
}
.footer nav ul li:last-child {
  margin-right: 0;
}
.footer nav ul li:last-child:after {
  content: "";
  margin: unset;
}
.footer nav ul li a {
  color: #4f90b8;
  text-transform: uppercase;
  text-decoration: none;
}
.footer nav ul li a:hover {
  color: #fdbd06;
}
.footer .footer--funding {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  margin-top: 1rem;
}
.footer .footer--funding .neh--logo {
  background-image: url("../img/neh_logo_black.jpg");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 230px;
  height: 64px;
  margin-bottom: -25px;
}
.footer .footer--funding .acls--logo {
  background-image: url("../img/neh_logo_black.jpg");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 230px;
  height: 64px;
  margin-bottom: -25px;
}

.views-exposed-form {
  background-color: #edf4f7;
  padding: 2rem;
}
.views-exposed-form label {
  text-transform: uppercase;
  font-weight: bold;
  color: #4f90b8;
  font-size: 15px;
  display: block;
}
.views-exposed-form .form-item {
  margin-bottom: 1.2rem;
}
.views-exposed-form .form-item:after {
  font-family: "Arial";
  content: "< >";
  background-color: #4f90b8;
  display: inline-block;
  float: right;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  right: -1px;
  top: -32px;
  padding: 4px;
  pointer-events: none;
}
.views-exposed-form .form-select {
  width: 100%;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #3f5966;
  border: none;
  box-shadow: 1px 2px 4px #c5c5c5;
  border-radius: 0;
  padding: 0.5rem;
}

#block-whc-page-title {
  max-width: 1050px;
  margin: auto;
  width: 95%;
  text-align: center;
}

.directory header {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0.5em 0;
  padding: 0;
  max-width: 1050px;
  margin: auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
