@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../fonts/DIN-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
#block-whc-local-tasks {
  max-width: 1150px;
  margin: auto;
  width: 95%;
  border-bottom: 1px solid lightgray;
  display: block;
  margin-bottom: 1rem;
}
#block-whc-local-tasks ul {
  margin: 0;
  padding: 0;
}
#block-whc-local-tasks ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#block-whc-local-tasks ul li:after {
  content: "|";
  margin-left: 1rem;
  position: relative;
}
#block-whc-local-tasks ul li:first-child {
  margin-left: 0;
}
#block-whc-local-tasks ul li:last-child {
  margin-right: 0;
}
#block-whc-local-tasks ul li:last-child:after {
  content: "";
  margin: unset;
}
#block-whc-local-tasks ul li a {
  color: #4f90b8;
  text-transform: uppercase;
  text-decoration: none;
}
#block-whc-local-tasks ul li a:hover {
  color: #fdbd06;
}

html, body {
  font-family: "DIN", Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: #3f5966;
  font-size: 17px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: #4f90b8;
}
a:hover {
  color: #fdbd06;
}

.logo {
  background-image: url("../img/whc_logo.png");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  max-width: 630px;
  height: 56px;
}

.header {
  background-color: #4f90b8;
  color: white;
  padding: 1rem 0;
  border-bottom: 0.2em solid #fff;
  box-shadow: 4px 1px 6px 3px #c5c5c5;
  font-weight: 600;
  margin-bottom: 2rem;
}
.header .header--well {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  align-items: center;
}
.header .header--well nav {
  text-align: right;
}
.header .header--well nav ul {
  margin: 0;
  padding: 0;
}
.header .header--well nav ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.header .header--well nav ul li:after {
  content: "|";
  margin-left: 1rem;
  position: relative;
}
.header .header--well nav ul li:first-child {
  margin-left: 0;
}
.header .header--well nav ul li:last-child {
  margin-right: 0;
}
.header .header--well nav ul li:last-child:after {
  content: "";
  margin: unset;
}
.header .header--well nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.header .header--well nav ul li a:hover {
  color: #fdbd06;
}
.header .search-block-form {
  text-align: right;
  margin-bottom: 1rem;
}
.header .search-block-form input {
  background-color: #edf4f7;
  padding: 0.5rem;
  color: #4f90b8;
  border: hidden;
  border-radius: 3px;
  width: 200px;
  font-size: 1rem;
}
.header .search-block-form #edit-submit, .header .search-block-form #edit-actions {
  display: none;
}

.footer {
  max-width: 1150px;
  margin: auto;
  border-top: 0.2em solid gray;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.footer nav {
  color: #ccc;
  text-align: center;
  margin-top: 1rem;
}
.footer nav ul {
  margin: 0;
  padding: 0;
}
.footer nav ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.footer nav ul li:after {
  content: "|";
  margin-left: 1rem;
  position: relative;
}
.footer nav ul li:first-child {
  margin-left: 0;
}
.footer nav ul li:last-child {
  margin-right: 0;
}
.footer nav ul li:last-child:after {
  content: "";
  margin: unset;
}
.footer nav ul li a {
  color: #4f90b8;
  text-transform: uppercase;
  text-decoration: none;
}
.footer nav ul li a:hover {
  color: #fdbd06;
}
.footer .footer--funding {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  margin-top: 1rem;
}
.footer .footer--funding .neh--logo {
  background-image: url("../img/neh_logo_black.jpg");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 230px;
  height: 64px;
  margin-bottom: -25px;
}
.footer .footer--funding .acls--logo {
  background-image: url("../img/acls_logo.png");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  background-size: 52%;
  display: inline-block;
  width: 200px;
  height: 64px;
  margin-bottom: -25px;
  margin-left: 1rem;
}

.rrchnm_bar {
  text-align: center;
  padding: 0.2rem;
  padding-bottom: 0.6rem;
  border-bottom: 5px solid #fdbd06;
}
.rrchnm_bar .donate-button {
  position: relative;
  display: inline-block;
  width: 7rem;
  top: 8px;
  margin-left: 0.5rem;
}

/* Content General Items. */
.citation {
  border-top: 1px solid #edf4f7;
  margin-top: 2rem;
  padding-top: 1.5rem;
}
.citation .credit {
  margin-bottom: 1rem;
}
.citation .credit .text {
  text-transform: uppercase;
}
.citation .credit .link {
  text-transform: unset;
}

.tags {
  border-top: 1px solid #edf4f7;
  margin-top: 2rem;
  padding-top: 1rem;
}
.tags div {
  display: inline;
}
.tags a {
  display: inline-block;
  margin-left: 0.2rem;
  background-color: #4f90b8;
  padding: 4px 10px 2px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tags a:hover {
  background-color: #fdbd06;
  color: #3f5966;
}

.content-header {
  max-width: 1150px;
  margin: auto;
  width: 95%;
  text-align: center;
  margin-bottom: 2rem;
}
.content-header .content-header--label {
  font-family: "DIN", "Arial Narrow", Arial, sans-serif;
  background-color: #fdbd06;
  color: white;
  display: inline-block;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.3em 0.5em 0.1em;
  margin: auto;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.content-header .content-header--author {
  max-width: 700px;
  margin: auto;
  border-top: 1px solid #4f90b8;
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: bold;
}
.content-header h1 {
  color: #4f90b8;
  font-size: 2em;
  font-weight: 100;
  padding: 0 0.1em;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.content-well {
  max-width: 1150px;
  margin: auto;
  width: 95%;
}

.content-meta {
  margin-top: 2rem;
  text-align: center;
  display: block;
}

.content-details {
  margin-top: 2rem;
}

.doc-icon {
  background-image: url("../img/docview.png");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top center;
  min-height: 554px;
  width: 100%;
  height: 100%;
}

.audio-icon {
  background-image: url("../img/audioview.jpg");
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top center;
  width: 100%;
  height: 100%;
  min-height: 451px;
}

.image-wrap img {
  width: 100%;
  height: auto;
}

.audio-wrap {
  text-align: center;
}
.audio-wrap audio {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}

.box-border {
  border: 1px solid #4f90b8;
  padding: 1.5rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.box-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2%;
  align-items: center;
  min-height: 450px;
}
.box-tile a {
  display: block;
  margin: auto;
  width: 100%;
}
.box-tile img {
  width: 100%;
  height: 100%;
}

details {
  margin-bottom: 0.5rem;
}
details summary {
  background-color: #b1e3fa;
  padding: 0.5rem;
  cursor: pointer;
}
details summary h3 {
  font-family: "DIN-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  display: inline;
  position: relative;
  top: 1px;
}
details div {
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  overflow: hidden;
}

.content-videos {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #edf4f7;
}
.content-videos h3 {
  margin-bottom: 0.5rem;
}
.content-videos h4, .content-videos h5 {
  margin-bottom: 0;
  font-size: 1rem;
}
.content-videos .youtube-video {
  margin-bottom: 1rem;
}
.content-videos .dl-link {
  background-color: #4f90b8;
  color: white;
  margin-bottom: 1rem;
  display: inline-block;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}
.content-videos .dl-link:hover {
  background-color: #fdbd06;
  color: #3f5966;
}
.content-videos .content-videos--well {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-gap: 2%;
}
.content-videos .content-videos--well .b1 {
  border-right: 1px solid #edf4f7;
  padding-right: 2rem;
}
.content-videos .content-videos--nav a {
  margin-bottom: 0.5rem;
}
.content-videos .content-videos--nav .active img {
  border: 2px solid #4f90b8;
}

.slideshow {
  margin: auto;
}
.slideshow .slideshow-slide--title {
  text-align: center;
  text-transform: uppercase;
  color: #4f90b8;
  margin-top: 1.5rem;
}
.slideshow .slideshow-slide--img {
  display: block;
  text-align: center;
  max-width: 300px;
  margin: auto;
}
.slideshow h5 {
  margin-left: 1.3rem;
  margin-bottom: -0.5rem;
}

/* Reviews Content type */
.review-header {
  border: 3px solid #4f90b8;
  text-decoration: none;
  color: #3f5966;
  text-align: left;
  display: block;
  margin-left: 0;
  margin-right: auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.review-header .content-header--label {
  background-color: #fdbd06;
}
.review-header h1 {
  color: unset;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 700px;
}
.review-header .content-header--author {
  color: unset;
}
.review-header:hover {
  color: #4f90b8;
}
.review-header:hover .content-header--label {
  background-color: #4f90b8;
}

.pull-quote--sidebar {
  background-color: #edf4f7;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}
.pull-quote--sidebar .quote {
  padding: 2rem;
  color: #4f90b8;
  font-family: "Times";
  font-style: italic;
  line-height: 1.3;
}

/* Home */
.front-page .featured-banner {
  margin-top: -1.9rem;
  background-color: #edf4f7;
  font-weight: bold;
  padding: 1rem;
}
.front-page .featured-banner .content-well {
  width: 80%;
}
.front-page .box-wrapper {
  display: grid;
  grid-template-columns: 145px 145px 145px 145px 145px 145px;
  max-width: 940px;
  align-items: center;
  grid-gap: 10px;
  grid-auto-flow: row dense;
  margin: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 1050px) {
  .front-page .box-wrapper {
    grid-template-columns: 85px 85px 85px 85px 85px 85px;
    max-width: 580px;
  }
}
@media screen and (max-width: 600px) {
  .front-page .box-wrapper {
    grid-template-columns: 68px 68px 68px 68px;
    max-width: 300px;
  }
}
.front-page .box-wrapper .views-row {
  height: 145px;
  overflow: hidden;
  background-size: 100%;
}
.front-page .box-wrapper .views-row .box-hover {
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
  text-decoration: none;
}
.front-page .box-wrapper .views-row .box-hover:hover {
  background-color: rgba(124, 173, 200, 0.8);
  opacity: 1;
}
.front-page .box-wrapper .views-row .box-info {
  padding: 10px;
  color: white;
  font-weight: bold;
}
.front-page .box-wrapper .views-row .box-info .box-info--title {
  font-size: 1.1em;
  line-height: 1.1;
  margin-bottom: 5px;
}
.front-page .box-wrapper .views-row .box-info .box-info--link {
  background-color: #fdbd06;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3rem;
  padding-bottom: 0.2rem;
  color: #3f5966;
  font-weight: bold;
  font-size: small;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}
.front-page .box-wrapper .views-row img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1050px) {
  .front-page .box-wrapper .views-row {
    height: 85px;
  }
}
@media screen and (max-width: 600px) {
  .front-page .box-wrapper .views-row {
    height: 68px;
  }
  .front-page .box-wrapper .views-row:nth-child(14), .front-page .box-wrapper .views-row:nth-child(15) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
    height: 145px;
  }
}
.front-page .box-wrapper .views-row:first-child, .front-page .box-wrapper .views-row:nth-child(6), .front-page .box-wrapper .views-row:nth-child(7), .front-page .box-wrapper .views-row:nth-child(10), .front-page .box-wrapper .views-row:nth-child(11) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
  height: 300px;
}
@media screen and (max-width: 1050px) {
  .front-page .box-wrapper .views-row:first-child, .front-page .box-wrapper .views-row:nth-child(6), .front-page .box-wrapper .views-row:nth-child(7), .front-page .box-wrapper .views-row:nth-child(10), .front-page .box-wrapper .views-row:nth-child(11) {
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .front-page .box-wrapper .views-row:first-child, .front-page .box-wrapper .views-row:nth-child(6), .front-page .box-wrapper .views-row:nth-child(7), .front-page .box-wrapper .views-row:nth-child(10), .front-page .box-wrapper .views-row:nth-child(11) {
    height: 145px;
  }
}

/* Directory Views */
.directory header {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0.5em 0;
  padding: 0;
  max-width: 1150px;
  margin: auto;
  text-align: center;
}
.directory h2 {
  margin-bottom: 0;
  margin-top: -0.5rem;
}
.directory h2 a {
  text-decoration: none;
}
.directory h2 a:hover {
  text-decoration: underline;
}
.directory .views-row,
.directory .result-row {
  display: grid;
  grid-template-columns: 145px 2fr;
  margin-bottom: 1.5rem;
  align-items: top;
}
.directory .views-row .views-field-field-image-thumbnail,
.directory .views-row .views-field-field-primary-sources,
.directory .views-row .result--thumbnial,
.directory .result-row .views-field-field-image-thumbnail,
.directory .result-row .views-field-field-primary-sources,
.directory .result-row .result--thumbnial {
  width: 129px;
  height: 129px;
}
.directory .views-row .views-field-field-image-thumbnail img,
.directory .views-row .views-field-field-primary-sources img,
.directory .views-row .result--thumbnial img,
.directory .result-row .views-field-field-image-thumbnail img,
.directory .result-row .views-field-field-primary-sources img,
.directory .result-row .result--thumbnial img {
  width: 100%;
  height: auto;
}

.views-exposed-form {
  background-color: #edf4f7;
  padding: 1.5rem;
}
.views-exposed-form label {
  text-transform: uppercase;
  font-weight: bold;
  color: #4f90b8;
  font-size: 15px;
  display: block;
}
.views-exposed-form .form-item {
  margin-bottom: 1.2rem;
}
.views-exposed-form .form-item:after {
  font-family: "Arial";
  content: "< >";
  background-color: #4f90b8;
  display: inline-block;
  float: right;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  right: -4px;
  top: -32px;
  padding: 3px 8px;
  pointer-events: none;
  font-weight: bold;
  font-size: small;
}
.views-exposed-form .form-select {
  width: 100%;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #3f5966;
  border: none;
  box-shadow: 1px 2px 4px #c5c5c5;
  border-radius: 0;
  padding: 0.5rem;
}
.views-exposed-form input[type=submit] {
  border: transparent;
  display: inline-block;
  margin-left: 0.2rem;
  background-color: #4f90b8;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: medium;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.views-exposed-form input[type=submit]:hover {
  background-color: #fdbd06;
}

.search-results .content-header {
  margin-bottom: 1rem;
}
.search-results .search-items {
  margin-bottom: 1.5rem;
}

.no-results {
  width: 75%;
  margin: auto;
}

/* Layouts. */
.two-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2%;
  max-width: 1150px;
  margin: auto;
}

.col--2-3 {
  display: grid;
  grid-template-columns: 2fr 300px;
  grid-gap: 4%;
}
@media screen and (max-width: 800px) {
  .col--2-3 {
    grid-template-columns: 1fr;
  }
}

.col-1-3 {
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-gap: 2%;
}
@media screen and (max-width: 800px) {
  .col-1-3 {
    grid-template-columns: 1fr;
  }
}

.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.align-right {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.search-form,
.block-whc-local-tasks {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

/*# sourceMappingURL=style.css.map */
