<footer role="contentinfo">
  <div class="footer">
    <nav role="navigation" aria-labelledby="block-whc-footer-menu" id="block-whc-footer">
      <h2 class="visually-hidden" id="block-whc-footer-menu">Footer menu</h2>
      <ul>
        <li><a href="https://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a></li>
        <li><a href="https://www.thewha.org">World History Association</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="https://creativecommons.org/licenses/by/4.0/">CC By-NC 4.0</a></li>
      </ul>
    </nav>
    <section class="footer--institutions" aria-labelledby="footer-institutions-heading">
      <h2 class="visually-hidden" id="footer-institutions-heading">Project institutions</h2>
      <a href="https://historyarthistory.gmu.edu/" class="footer--institution footer--institution-gmu">
        <img src="/images/partners/gmu-logo.png" alt="George Mason University Department of History and Art History">
      </a>
      <a href="https://rrchnm.org/" class="footer--institution footer--institution-rrchnm">
        <img src="/images/partners/rrchnm-logo.png" alt="Roy Rosenzweig Center for History and New Media">
      </a>
    </section>
    <div class="footer--funding">
      <span class="footer--funding-credit">Funded By</span>
      <a href="https://www.neh.gov" class="neh--logo" aria-label="NEH Logo"></a>
      <a href="https://www.acls.org" class="acls--logo" aria-label="ACLS Logo"></a>
    </div>
  </div>
</footer>
