<header role="banner">
  <div class="header">
    <div class="header--well">
      <div>
        <a href="/" class="logo" aria-label="World History Commons home"></a>
      </div>
      <div>
        <div class="search-block-form" id="block-whc-search" role="search">
          <form action="/search/" method="get" id="search-block-form">
            <div class="form-no-label">
              <label for="edit-keys" class="visually-hidden">Search</label>
              <input title="Enter the terms you wish to search for." placeholder="Search" type="search" id="edit-keys" name="q" value="" size="15" maxlength="128" class="form-search" />
            </div>
          </form>
        </div>
        <nav role="navigation" aria-labelledby="block-whc-main-menu-menu" id="block-whc-main-menu">
          <h2 class="visually-hidden" id="block-whc-main-menu-menu">Main navigation</h2>
          <ul>
            <li><a href="/primary-sources/">Sources</a></li>
            <li><a href="/teaching/">Teaching</a></li>
            <li><a href="/method/">Methods</a></li>
            <li><a href="/website-reviews/">Reviews</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
