@mixin nav-links($prime, $hover) {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-left: .5rem;
      margin-right: .5rem;

      &:after {
        content: '|';
        margin-left: 1rem;
        position: relative;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        &:after {
          content: '';
          margin: unset;
        }
      }

      a {
        color: $prime;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: $hover;
        }
      }
    }
  }
}

@mixin container() {
  max-width: $max-width;
  margin: auto;
  width: 95%;
}

@mixin image-block($url) {
  background-image: url($url);
  display: block;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}