@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../fonts/DIN-Bold.ttf") format("truetype");
  font-weight:800;
  font-style: normal;
}

@mixin font-bold {
  font-family: "DIN-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-normal {
  font-family: "DIN", Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Text Styles
@mixin box-text() {
  font-family: "DIN", "Arial Narrow", Arial, sans-serif;
  background-color: $yellow;
  color: white;
  display: inline-block;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.3em 0.5em 0.1em;
  margin: auto;
  font-weight: 700;
}

@mixin title-text() {
  color: $blue;
  font-size: 2em;
  font-weight: 100;
  padding: 0 0.1em;
  letter-spacing: 1px;
  line-height: 1.2;
}

@mixin thin-text() {
  font-size: 1.8em;
  margin: 0;
  font-weight: 200;
  padding:0;
}

@mixin featured-text() {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0.5em 0;
  padding: 0;
}

@mixin box-link() {
  display: inline-block;
  margin-left: .2rem;
  background-color: $blue;
  padding: 5px 10px;
  text-decoration: none;

  &:hover {
    background-color: $yellow;
  }
}

@mixin impact-text() {
  @include font-bold();
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
}



// h1 {
//   // @include breakpoint($tablet) {
//   //   font-size: 2.1em;
//   // }
//   font-family: "DIN", "Arial Narrow", Arial, sans-serif;
//   font-size:2.5em;
//   font-weight: 400;
//   padding: 0 0.1em;
// }

//Page Title
// h2{
//   // @include breakpoint($tablet) {
//   //   font-size: 1.8em;
//   // }
//   font-family: "DIN";
//   color:$textblack;
//   margin: 1em 0 0.1em;
//   font-size: 2em;
//   font-weight: 100;
//   padding: 0 0.1em;
//   letter-spacing: 1px;
// }

// //Accordion Header
// h3 {
//   // @include breakpoint($tablet) {
//   //   font-size: 1.3em;
//   // }
//   font-weight: 400;
//   font-size: 1.6em;
//   text-transform: uppercase;
//   padding: 0 0.2em;
// }

// //Thin Header
// h4 {
//   // @include breakpoint($tablet) {
//   //   font-size: 1.3em;
//   //   padding:0 0.3em;
//   // }
//   font-size: 1.8em;
//   margin: 0;
//   font-weight: 200;
//   padding:0;
// }

// h5 {
//   // @include breakpoint($tablet) {
//   //   font-size: 1.1em;
//   // }
//   font-size: 1.3em;
//   font-weight: 400;
//   margin: 0.5em 0;
//   padding: 0;
// }


// //Tags and Credit Information
// h6{
//   font-size: 1.1em;
//   margin: 1em 0 0.1em;
// }

// p{
//   padding:0 0.3em 1em;
//   margin:0;
//   line-height: 1.35;
//   color:$textblack;
// }