// Colors:
$blue: #4f90b8;
$blue--meidum: #b1e3fa;
$blue--light: #edf4f7;
$yellow: #fdbd06;
$black: rgb(27, 27, 27);

// Spans:
$content-width: 1150px;
$well-width: 1250px;

// Breakpoints
$breakpoint-mid: 800px;

// Breakpoints for home.
$mobile: 600px;
$tablet: 1050px;
// $desktop: 1051px;