@import 'vars';
@import 'type-style';
@import 'mixins';
@import 'admin';


// Global Items.
html, body {
  @include font-normal;
  padding: 0;
  margin: 0;
  color: $black;
  font-size: 17px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h3 {
  margin: 0;
} 

a {
  color: $blue;

  &:hover {
    color: $yellow;
  }
}

.logo {
  @include image-block('../img/whc_logo.png');
  margin-left: 0;
  max-width: 630px;
  height: 56px;
}

.header {
  background-color: $blue;
  color: white;
  padding: 1rem 0;
  border-bottom: 0.2em solid #fff;
  box-shadow: 4px 1px 6px 3px #c5c5c5;
  font-weight: 600;
  margin-bottom: 2rem;

  .header--well {
    max-width: $well-width;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr .75fr;
    align-items: center;

    nav {
     @include nav-links(white, $yellow);
     text-align: right;
    }
  }

  .search-block-form {
    text-align: right;
    margin-bottom: 1rem;

    input {
      background-color: $blue--light;
      padding: .5rem;
      color: $blue;
      border: hidden;
      border-radius: 3px;
      width: 200px;
      font-size: 1rem;
    }

    #edit-submit, #edit-actions {
      display: none;
    }
  }
}



.footer {
  max-width: $content-width;
  margin: auto;
  border-top: 0.2em solid gray;
  margin-top: 2rem;
  margin-bottom: 3rem;

  nav {
    @include nav-links($blue, $yellow);
    color: #ccc;
    text-align: center;
    margin-top: 1rem;
  }

  .footer--funding {
    max-width: 600px;
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    margin-top: 1rem;

    .neh--logo {
      @include image-block('../img/neh_logo_black.jpg');
      display: inline-block;
      width: 230px;
      height: 64px;
      margin-bottom: -25px;
    }

    .acls--logo {
      @include image-block('../img/acls_logo.png');
      background-position: left;
      background-size: 52%;
      display: inline-block;
      width: 200px;
      height: 64px;
      margin-bottom: -25px;
      margin-left: 1rem;
    }
  }

}

.rrchnm_bar {
  text-align: center;
  padding: .2rem;
  padding-bottom: .6rem;
  border-bottom: 5px solid $yellow;
  .donate-button {
    position: relative;
    display: inline-block;
    width: 7rem;
    top: 8px;
    margin-left: .5rem;
  }
}

/* Content General Items. */
.citation {
  border-top: 1px solid $blue--light;
  margin-top: 2rem;
  padding-top: 1.5rem;

  .credit {
    margin-bottom: 1rem;

    .text {
      text-transform: uppercase;
    }

    .link {
      text-transform: unset;
    }
  }
  }

  

.tags {
  border-top: 1px solid $blue--light;
  margin-top: 2rem;
  padding-top: 1rem;

  div {
    display: inline;
  }

  a {
    display: inline-block;
    margin-left: .2rem;
    background-color: $blue;
    padding: 4px 10px 2px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }
}

.content-header {
  @include container;
  text-align: center;
  margin-bottom: 2rem;

  .content-header--label {
    @include box-text;
    margin-bottom: .5rem;
  }

  .content-header--author {
    max-width: 700px;
    margin: auto;
    border-top: 1px solid $blue;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
  }

  h1 {
    @include title-text;
    margin-bottom: 0;
  }
}

.content-well {
  @include container;
}

.content-meta {
  margin-top: 2rem;
  text-align: center;
  display: block;
}

.content-details {
  margin-top: 2rem;
}

.doc-icon {
  @include image-block('../img/docview.png');
  background-position: top center;
  min-height: 554px;
  width: 100%;
  height: 100%;
}

.audio-icon {
  @include image-block('../img/audioview.jpg');
  background-position: top center;
  width: 100%;
  height: 100%;
  min-height: 451px;
}

.image-wrap {

  img {
    width: 100%;
    height: auto;
  }
}

.audio-wrap {
  text-align: center;
  audio {
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
  }
}

.box-border {
  border: 1px solid $blue;
  padding: 1.5rem;
  margin-left: .6rem;
  margin-right: .6rem;
}

.box-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-gap: 2%;
  align-items: center;
  min-height: 450px;

  a {
    display: block;
    margin: auto;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}


details {
  margin-bottom: .5rem;
  
  summary {
    background-color: $blue--meidum;
    padding: .5rem;
    cursor: pointer;

    h3 {
      @include font-bold;
      font-size: 1.3rem;
      display: inline;
      position: relative;
      top: 1px;

    }
  }

  div {
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
  }

}

.content-videos {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $blue--light;

  h3 {
    margin-bottom: .5rem;
  }

  h4, h5 {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .youtube-video {
    margin-bottom: 1rem;
  }

  .dl-link {
    background-color: $blue;
    color: white;
    margin-bottom: 1rem;
    display: inline-block;
    padding-top: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-decoration: none;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  .content-videos--well {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    grid-gap: 2%;

    .b1 {
      border-right: 1px solid $blue--light;
      padding-right: 2rem;
    }
  }

  .content-videos--nav {
    a {
      margin-bottom: .5rem;
    }

    .active img {
      border: 2px solid $blue;
    }
  }
}

.slideshow {
  margin: auto;

  .slideshow-slide--title {
    text-align: center;
    text-transform: uppercase;
    color: $blue;
    margin-top: 1.5rem;
  }
  .slideshow-slide--img {
    display: block;
    text-align: center;
    max-width: 300px;
    margin: auto;
  }

  h5 {
    margin-left: 1.3rem;
    margin-bottom: -.5rem;
  }
}

/* Reviews Content type */

.review-header {
  border: 3px solid $blue;
  text-decoration: none;
  color: $black;
  text-align: left;
  display: block;
  margin-left: 0;
  margin-right: auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .content-header--label {
    background-color: $yellow;
  }
  
  h1 {
    color: unset;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 700px;
  }

  .content-header--author {
    color: unset;
  }

  &:hover {
    color: $blue;
    // border-color: $yellow;

    .content-header--label {
      background-color: $blue;
      // color: $black;
    }
  }
}

.pull-quote--sidebar {
  background-color: $blue--light;

  font-size: 2rem;
  font-style: italic;
  text-align: center;

  .quote {
    padding: 2rem;
    color: $blue;
    font-family: "Times";
    font-style: italic;
    line-height: 1.3;
  }
}

/* Home */
.front-page {
  
  .featured-banner {
    margin-top: -1.9rem;
    background-color: $blue--light;
    font-weight: bold;
    padding: 1rem;

    .content-well {
      width: 80%;
    }
  }

  .box-wrapper {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px 145px;
    max-width: 940px;
    align-items: center;
    grid-gap: 10px;
    grid-auto-flow: row dense;
    margin: auto;
    margin-top: 2rem;

    @media screen and (max-width: $tablet) {
      grid-template-columns: 85px 85px 85px 85px 85px 85px;
      max-width: 580px;

    }
  
    @media screen and (max-width: $mobile) {
      grid-template-columns: 68px 68px 68px 68px;
      max-width: 300px;

    }

    .views-row {
      height: 145px;
      overflow: hidden;
      background-size: 100%;
      

      .box-hover {
        overflow: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: end;
        text-decoration: none;

        &:hover {
          background-color:rgba(124, 173, 200, 0.8);
          opacity: 1;
        }
      }

      .box-info {
        padding: 10px;
        color: white;
        font-weight: bold;

        .box-info--title {
          font-size: 1.1em;
          line-height: 1.1;
          margin-bottom: 5px;
        }

        .box-info--link {
          background-color: $yellow;
          text-decoration: none;
          text-transform: uppercase;
          padding: .3rem;
          padding-bottom: .2rem;
          color: #3f5966;
          font-weight: bold;
          font-size: small;
          margin-top: .5rem;
          letter-spacing: 1px;
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: $tablet) {
        height: 85px;
      }
    
      @media screen and (max-width: $mobile) {
        height: 68px;

        &:nth-child(14),
        &:nth-child(15) {
          grid-column: auto / span 2;
          grid-row: auto / span 2;
          height: 145px;
        }
      }

      &:first-child,
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(10),
      &:nth-child(11) {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        height: 300px;

        @media screen and (max-width: $tablet) {
          height: 180px;
        }
      
        @media screen and (max-width: $mobile) {
          height: 145px;
        }
      }
    }
  }

}


/* Directory Views */
.directory {

  header {
    @include featured-text;
    max-width: $content-width;
    margin: auto;
    text-align: center;
  }

  h2 {
    margin-bottom: 0;
    margin-top: -.5rem;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  .views-row, 
  .result-row {
    display: grid;
    grid-template-columns: 145px 2fr;
    margin-bottom: 1.5rem;
    align-items: top;

    .views-field-field-image-thumbnail,
    .views-field-field-primary-sources,
    .result--thumbnial {
      width: 129px;
      height: 129px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.views-exposed-form {
  background-color: $blue--light;
  padding: 1.5rem;

  label {
    text-transform: uppercase;
    font-weight: bold;
    color: $blue;
    font-size: 15px;
    display: block;
  }

  .form-item {
    margin-bottom: 1.2rem;

    &:after {
      font-family: "Arial";
      content: '< >';
      background-color: $blue;
      display: inline-block;
      float: right;
      color: #fff;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      position: relative;
      right: -4px;
      top: -32px;
      padding: 3px 8px;
      pointer-events: none;
      font-weight: bold;
      font-size: small;
    }
  }

  .form-select {
    width: 100%;
    font-size: .8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $black;
    border: none;
    box-shadow: 1px 2px 4px #c5c5c5;
    border-radius: 0;
    padding: .5rem;
  }

  input[type=submit] {
    border: transparent;
    @include box-link;
    color: white;
    text-transform: uppercase;
    font-size: medium;
    cursor: pointer;
    padding: .5rem 1rem;
    font-weight: bold;
  }
}

.search-results {

  .content-header {
    margin-bottom: 1rem;
  }

  .search-items {
    margin-bottom: 1.5rem;
  }
}

.no-results {
  width: 75%;
  margin: auto;
}

/* Layouts. */
.two-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-gap: 2%;
  max-width: $content-width;
  margin: auto;
}

.col--2-3 {
  display: grid;
  grid-template-columns: 2fr 300px;
  grid-gap: 4%;
  @media screen and (max-width: $breakpoint-mid) {
    grid-template-columns: 1fr;
  }
}

.col-1-3 {
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-gap: 2%;
  @media screen and (max-width: $breakpoint-mid) {
    grid-template-columns: 1fr;
  }
}

.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.align-right {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

// Hacks
.search-form,
.block-whc-local-tasks {
  display: none;
}

// 508 & Accessiblity
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}