{{ define "main" }}
<div class="content-header">
  <div class="content-header--label">{{ .Title }}</div>
</div>
<div class="content-well about-page">
  <p class="about-intro"><strong>Developed by the Roy Rosenzwieg Center for History and New Media (RRCHNM) in collaboration with the World History Association, World History Commons combines new content with resources from digital world history projects developed by RRCHNM from 2003 to 2018, along with materials from the Global History Reader from Warwick University and Monash University.</strong></p>

  <hr class="about-divider">

  <div class="about-grid">
    <div class="about-grid--item">
      <a href="/guide-using-world-history-commons">
        <img src="/img/about/Guide.png" alt="Guide">
      </a>
      <div class="about-grid--label">Guide</div>
    </div>
    <div class="about-grid--item">
      <a href="/community-college-video-guides">
        <img src="/img/about/52081388553_1caa2f8b7c_k.jpeg" alt="Community College Guides">
      </a>
      <div class="about-grid--label">Community College Guides</div>
    </div>
    <div class="about-grid--item">
      <a href="/advisory-board">
        <img src="/img/about/adboard.png" alt="Advisory Board">
      </a>
      <div class="about-grid--label">Advisory Board</div>
    </div>
    <div class="about-grid--item">
      <a href="/project-team">
        <img src="/img/about/projectteam5.png" alt="Project Team">
      </a>
      <div class="about-grid--label">Project Team</div>
    </div>
  </div>

  <div class="about-section-header">SUPPORTERS</div>

  <p>World History Commons is made possible with funding from the National Endowment for the Humanities and the American Council of Learned Societies. We also wish to extend a heartfelt thanks to Dr. Peter N. Stearns and Ms. Donna L. Kidd for their generous donations. Without their contributions, we would not be able to make the entirety of these resources available to educators around the world.</p>

  <div class="about-section-header">PRAISE FOR WORLD HISTORY COMMONS</div>

  <blockquote class="about-quote">
    <p>"For this world history teacher, this is one of my top go-to sites to find excellent materials and lesson ideas for any world history topics."</p>
    <cite>Angela Lee, World History Teacher and member of the World History Association Executive Council</cite>
  </blockquote>

  <blockquote class="about-quote">
    <p>"I encourage teachers to spend time with the reviews of websites. These insightful reviews show students how to explore and critique historical sites: the reviews are searchable and many of them give well-chosen links to the sites."</p>
    <cite>Patrick Manning, Professor of World History, Emeritus, at the University of Pittsburgh</cite>
  </blockquote>

  <blockquote class="about-quote">
    <p>"In the field of world history, sources are usually scattered over countless archives, often over various continents. Diving into archival research, thus, used to be a costly and time-consuming affair. Now, World History Commons places a rich tapestry of primary sources and accompanying material at your fingertips and makes world and global history accessible for everyone from everywhere."</p>
    <cite>Roland Wenzlhuemer, Professor for Modern History at the University of Munich</cite>
  </blockquote>

  <blockquote class="about-quote">
    <p>"For me, talking from the South, what is great about the World History Commons resources is the potential they offer to teachers and students to better understand how different societies and people connected through time, how international and transnational relations were build, nourished and, many times, perished, how the ordinary and the extraordinary of the past provoked transformations or permanence.</p>
    <cite>Alexandre Moreli, Associate Professor at the University of São Paulo, Brazil</cite>
  </blockquote>

  <blockquote class="about-quote">
    <p>"The wonderful thing about World History Commons is that it allows teachers and students to approach the field from any region, theme, or time period. Its shows World History in all its complexity, while guiding its users with accessible guides and resources."</p>
    <cite>Carolien Stolte, Assistant Professor of History at the Institute for History, Leiden University (Netherlands)</cite>
  </blockquote>

  <blockquote class="about-quote">
    <p>"World History Commons is really valuable for offering quick and accessible overviews of methods and fields that lie outside one's own in preparing to lectures and seminars. It also offers excellent samples of primary sources and guidelines in how to use them. The review section is also surprisingly useful in pointing to resources but with some pointers on where the advantages and disadvantages might be when referring students to these collections."</p>
    <cite>Anne Gerritsen, Professor of History at the University of Warwick</cite>
  </blockquote>
</div>
{{ end }}
